html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  height: 100vh;
  background-image: url(../images/stars-bg.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.headers {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

.toggle-view h1 {
  padding: 2rem 0 0 4rem;
}
.toggle-view h2 {
  padding-right: 4rem;
}
.toggle-view {
  opacity: 0;
  display: block;
  transition: opacity 5s;
}

.planets {
  display: flex;
  flex-direction: column; /* Display the content in a single column */
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-basis: 100%;
}

.planets h2 {
  font-size: 2.8rem;
  padding: 2rem 0;
  color: white;
}

.planets a img {
  max-width: 50%; /* Make sure the links do not exceed their container's width */
  text-align: center; /* Center the images within the links */
}
.planets :last-child {
  margin-block-end: 3rem;
}

/*********** NAV BURGER *********/
#burger {
  color: white;
  padding-inline-end: 3rem;
  font-size: 4rem;
  cursor: pointer;
  z-index: 1;
}
#quit {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  color: white;
  font-size: 4rem;
  padding: 3rem;
  display: none;
  cursor: pointer;
}
#links {
  display: none;
  position: fixed;
  transition: 1s;
  top: 0;
  right: 0;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background */
  justify-content: space-around;
  z-index: 2;
}
#links a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

/********** MARS MAIN ************/
.mars-main {
  display: flex;
  flex-direction: column;
}
.mars-main h1 {
  font-size: 3.6rem;
  text-align: center;
  flex-basis: 100%;
  font-family: 'Montserrat', sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mars-container {
  flex-basis: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mars-map {
  max-width: 100%;
}
