html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  height: 100vh;
  background-image: url(../images/stars-bg.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.mars-body {
  background-image: url(../images/mars-bg.jpg);
  background-size: cover;
  background-attachment: fixed; /* Keeps the background image stationary */
  display: block;
}

.headers {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
}

.toggle-view h1 {
  padding: 2rem 0 0 4rem;
}
.toggle-view h2 {
  padding-right: 4rem;
}
.toggle-view {
  opacity: 0;
  display: block;
  transition: opacity 5s;
}

.planets {
  opacity: 0;
  transition: opacity 5s;
  display: none;
  flex-direction: column; /* Display the content in a single column */
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-basis: 100%;
}

.planets h2 {
  font-size: 2.8rem;
  padding: 2rem 0;
  color: white;
}

.planets a img {
  max-width: 50%; /* Make sure the links do not exceed their container's width */
  text-align: center; /* Center the images within the links */
}
.planets :last-child {
  margin-block-end: 3rem;
}

/*********** NAV BURGER *********/
#burger {
  color: white;
  padding-inline-end: 3rem;
  font-size: 4rem;
  cursor: pointer;
  z-index: 2;
}
#quit {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  color: white;
  font-size: 4rem;
  padding: 3rem;
  display: none;
  cursor: pointer;
}
#links {
  display: none;
  position: fixed;
  transition: 1s;
  top: 0;
  right: 0;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background */
  justify-content: space-around;
  z-index: 10;
}
#links a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

/********** MARS MAIN ************/
header {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-align: center;
  flex-basis: 100%;
}
.mars-main {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  justify-content: center;
  align-content: space-between;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.links {
  grid-row: 2/10;
  grid-column: 1/13;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
.links a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}
.first-a {
  grid-row: 1/2;
  grid-column: 1/7;
  padding-top: 3rem;
}
.second-a {
  grid-row: 2/3;
  grid-column: 7/13;
  padding-top: 3rem;
}
.third-a {
  grid-row: 8/10;
  grid-column: 1/7;
  padding-top: 3rem;
}
.fourth-a {
  grid-row: 9/11;
  grid-column: 7/13;
  padding-right: 1rem;
}

.mars-container {
  width: 100%;
  max-width: 40rem;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mars-map {
  max-width: 100%;
  z-index: 1;
}

/********** ROVERs MAIN ***********/
.flex-header {
  background-color: rgba(50, 50, 50, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 2rem;
}
.rovers {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/********* CURIOSITY *********/

.intro {
  padding: 2rem 3rem;
  background-color: rgba(50, 50, 50, 0.485);
  border-radius: 1rem;
  margin: 0 1rem;
  line-height: 2rem;
}
.intro p {
  margin-bottom: 3rem;
}
.intro:first-of-type p {
  margin-top: 2rem;
}
.intro-img {
  width: 100%;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}
.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slideshow-btn {
  margin-bottom: 2rem;
  width: 21rem;
  height: 5rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(138, 79, 34);
}
.latest-image {
  margin-bottom: 2rem;
}
.latest-image img {
  width: 100%;
  max-width: 37.2rem;
  max-height: 20.9rem;
  border-radius: 0.7rem;
}
.data {
  width: 100%;
}
.data p {
  margin: 0;
  padding: 0 0 0.5rem 2rem;
}
.data:last-child {
  margin-bottom: 3rem;
}
